@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.main-content{
  background-image: url('../../public/assets/images/5153829.jpg');;
  background-size: cover;
  height: 100vh;
  text-align: center;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  right: 0;
  justify-content:center;
  align-Items: center;
  overflow: auto;
  overflow-x: hidden;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-position: center center;
}

.class-log{
  font-size: 20px;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
